.layout{
    background-color: indigo;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container{
    display: flex;
    background-color: rgb(245, 239, 233);
    width: 500px;
    height: 400px;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 15px;
}

.input-container{
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: baseline;
    display: flex;
    align-items: center;
}

.task-input{
    width: 397px;
    max-height: 34px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(209, 209, 209);
    padding: 5px;
}

.bi{
    font-size: 23px;
}

.button-plus{
    background-color: rgb(209, 209, 209);
    max-height: 34px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-right: 5px;
}

.main-title{
    display: flex;
    align-items: center;
    font-size: 28px;
    display: flex;
    margin-top: 20px;
    gap: 10px;   
}

.task-list-container{
    display: flex;
}

.task-list{
    padding-left: 0;
}

.task{
    display: inline-flex;
    gap: 145px;
    border-bottom: 1px solid rgb(105, 103, 103);
}

.edit-delete-buttons{
    display: inline-flex;
    gap: 7px;
}